
.form-horizontal {
  display: flex;
  width: 100%;

  @media (min-width: 1200px) {
    width: 75%;
  }

  > .button {
    background-color: #DB0E49;
    border: none;
    cursor: pointer;
    color: #FFF;
    width: 5%;
  }
}
